# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Enable align-tab': 'align-tab:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'align-tab'
      'submenu': [
        { 'label': 'Toggle', 'command': 'align-tab:toggle' }
      ]
    ]
  }
]
