# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'AlignTab'
      'submenu': [
        # { 'label': 'AlignTab', 'command': 'align-tab:align-tab' }
        { 'label': 'AlignTabEquals', 'command': 'align-tab:equals' }
      ]
    ]
  }
]
